.flex-grid
	display: flex
	flex-direction: column
	flex-flow: wrap
	>*
		display: inline-block


.w300
	width: 300px


// grow
.grow0
	flex-grow: 0
.grow1
	flex-grow: 1
.grow2
	flex-grow: 2
// .grow3
// 	flex-grow: 0