html
	head
		block head
			meta(charset="utf-8")
			meta(http-equiv="X-UA-Compatible" content="IE=edge")
			meta(name="viewport" content="width=device-width,initial-scale=1")
			base(href="/")
			link(rel="stylesheet" href="<%=basePATH %>public/core-ui.css")
			//- link(rel="stylesheet" href="<%=basePATH %>public/css/fontello.css")
			script(src="<%=basePATH %>public/jquery-3.4.1.min.js")
			script(src="<%=basePATH %>public/core-ui.js")
			//- highlight
			link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/agate.min.css")
			script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/highlight.min.js")
	body
		.flex
			//- menu
			.padding
				div
					b Basic
					a.block(href="icons") Icons
					a.block(href="links") links
					a.block(href="layout") Layout
					a.block(href="text") text
				.m-top
					b Form
					a.block(href="form/buttons") Buttons
					a.block(href="form/inputs") Inputs
					a.block(href="form/radio") Radio
					a.block(href="form/checkbox") Checkbox
					a.block(href="form/switches") Switches
					a.block(href="form/validator") Validator
					a.block(href="form/file-upload") File upload
				.m-top
					b Data
					a.block(href="data/alerts") Alerts
					a.block(href="data/badge") Badge
					a.block(href="data/tag") Tag
					a.block(href="data/tables") Tables
					a.block(href="data/list") List
					a.block(href="data/progress") Progress
				.m-top
					b Javascript
					a.block(href="js/utils") Utils
					a.block(href="js/ajax") Ajax
					a.block(href="js/logger") Logger
					a.block(href="js/event-emitter") Event-emitter
					a.block(href="js/jquery-plugins") jQuery-plugins
					a.block(href="js/router") Router
					a.block(href="js/watch") Event watcher

			//- body
			.grow1
				block body