doctype
html
	head
		title Watch test
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Roboto+Mono:400,500|Material+Icons")
		link(rel='stylesheet' href="../../build/core-ui.css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
	body
		b Open console.

		.btn not dada
		br
		.btn.dada
			span data btn
		br
		.btn.dada
			span data btn2
		br
		.btn.dada
			span data btn3


		.zone(style={padding:'100px', width:'800px', background: 'brown'})
			.zoneIn(style={width:'500px', height: '200px', background: 'green'})


		script(src="../../build/core-ui.js")
		script(src="watch.js")