extends ./_layout
append head
	title Utils
block content
	.container
		h1 Utils

		h2 Logger
		p Send logs to your server
		pre.select
			code.coffeescript
				:text
					# Signature
					Core.{debug|info|warn|error|fatalError} 'StringGrouppement', ...args

					# Examples
					Core.debug 'app', 'my log message'
					Core.fatalError 'app', 'Something went wrong', errData