extends ../_layout
append head
	title Alerts
block body
	form.container
		h1 Alerts

		.alert.select .alert#[br]Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
		.alert.select.primary.m-top .alert.primary#[br]Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
		.alert.select.success.m-top .alert.success#[br] Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
		.alert.select.info.m-top .alert.info#[br] Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
		.alert.select.warn.m-top .alert.warn#[br] Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
		.alert.select.danger.m-top .alert.danger#[br] Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam

		h2 With icons
		.alert.primary #[i.ico-info.t-lg.v-middle] Lorem ipsum dolor sit amet, consectetur adipisicing elit
		.alert.flex.primary.m-top
			.ico-info.t-xxl
			.grow1 Lorem ipsum dolor sit amet, consectetur adipisicing elit#[br]sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

		h2 With close button
		.alert.flex.m-top
			.ico-fork-spoon
			.grow1 Lorem ipsum dolor sit amet, consectetur adipisicing elit
			span.link.flat.hover.danger.ico-close
		.alert.success.flex.m-top
			.ico-fork-spoon
			.grow1 Lorem ipsum dolor sit amet, consectetur adipisicing elit
			span.close.ico-close

		h2 Width buttons
		.alert Lorem ipsum dolor sit amet, consectetur adipisicing elit
			.t-end
				span.btn.flat Cancel
				span.btn.outline Cancel
				span.btn Send
				span.btn.danger Send
		.alert.m-top.primary Lorem ipsum dolor sit amet, consectetur adipisicing elit
			.t-end
				span.btn.default.flat Cancel
				span.btn.default Send