extends ../_layout
append head
	title List
block body
	form.container
		h1 List

		h2 Normal lists:
		div
			ul.inline-block
				li lorem ipsum
				li lorem ipsum
				li lorem ipsum
				li lorem ipsum
				li lorem ipsum
				li lorem ipsum
			ul.inline-block(style="list-style-type: circle")
				li lorem ipsum
				li lorem ipsum
				li lorem ipsum
				li lorem ipsum
				li lorem ipsum
				li lorem ipsum
			ul.inline-block(style="list-style-type: square")
				li lorem ipsum
				li lorem ipsum
				li lorem ipsum
				li lorem ipsum
				li lorem ipsum
				li lorem ipsum
		div
			ol.inline-block
				li lorem ipsum
				li lorem ipsum
				li lorem ipsum
				li lorem ipsum
				li lorem ipsum
				li lorem ipsum
			ol.inline-block(style="list-style-type: lower-alpha")
				li lorem ipsum
				li lorem ipsum
				li lorem ipsum
				li lorem ipsum
				li lorem ipsum
				li lorem ipsum
			ol.inline-block(style="list-style-type: upper-alpha")
				li lorem ipsum
				li lorem ipsum
				li lorem ipsum
				li lorem ipsum
				li lorem ipsum
				li lorem ipsum