extends ../_layout
append head
	title Tables
block body
	.container
		h1 Tables

		h2 Basic table
		table.table(cellspacing="0" cellpadding="0" border="0")
			//- caption Simple table
			thead
				tr
					th Date
					th Name
					th Address
			tbody
				tr
					td 2019
					td Tom
					td 125, New york, us
				tr
					td 2019
					td Tom
					td 125, New york, us
				tr
					td 2019
					td Tom
					td 125, New york, us
				tr
					td 2019
					td Tom
					td 125, New york, us
				tr
					td 2019
					td Tom
					td 125, New york, us

		h2 Striped
		table.table.striped(cellspacing="0" cellpadding="0" border="0")
			thead
				tr
					th Date
					th Name
					th Address
			tbody
				tr
					td 2019
					td Tom
					td 125, New york, us
				tr
					td 2019
					td Tom
					td 125, New york, us
				tr
					td 2019
					td Tom
					td 125, New york, us
				tr
					td 2019
					td Tom
					td 125, New york, us
				tr
					td 2019
					td Tom
					td 125, New york, us

		h2 Hover and striped
		table.table.striped.hover(cellspacing="0" cellpadding="0" border="0")
			thead
				tr
					th Date
					th Name
					th Address
			tbody
				tr
					td 2019
					td Tom
					td 125, New york, us
				tr
					td 2019
					td Tom
					td 125, New york, us
				tr
					td 2019
					td Tom
					td 125, New york, us
				tr
					td 2019
					td Tom
					td 125, New york, us
				tr
					td 2019
					td Tom
					td 125, New york, us

		h2 Borders
		table.table.border(cellspacing="0" cellpadding="0" border="0")
			thead
				tr
					th Date
					th Name
					th Address
			tbody
				tr
					td 2019
					td Tom
					td 125, New york, us
				tr
					td 2019
					td Tom
					td 125, New york, us
				tr
					td 2019
					td Tom
					td 125, New york, us
				tr
					td 2019
					td Tom
					td 125, New york, us
				tr
					td 2019
					td Tom
					td 125, New york, us


		h2 Sticky header
		div
			table.table.sticky(cellspacing="0" cellpadding="0" border="0")
				thead
					tr
						th Date
						th Name
						th Address
			table.table(cellspacing="0" cellpadding="0" border="0")
				tbody
					tr
						td 2019
						td Tom
						td 125, New york, us
					tr
						td 2019
						td Tom
						td 125, New york, us
					tr
						td 2019
						td Tom
						td 125, New york, us
					tr
						td 2019
						td Tom
						td 125, New york, us
					tr
						td 2019
						td Tom
						td 125, New york, us
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br