extends ../_layout
append head
	title Tags
block body
	form.container
		h1 Tags

		div
			span.tag.m-right tag1
			span.tag.primary.m-right tag1
			span.tag.success.m-right tag1
			span.tag.info.m-right tag1
			span.tag.warn.m-right tag1
			span.tag.danger.m-right tag1
			span.tag.disabled.m-right tag1
		.m-top
			span.tag.outline.m-right tag1
			span.tag.outline.primary.m-right tag1
			span.tag.outline.success.m-right tag1
			span.tag.outline.info.m-right tag1
			span.tag.outline.warn.m-right tag1
			span.tag.outline.danger.m-right tag1
			span.tag.outline.disabled.m-right tag1
		.m-top
			span.tag.m-right tag1 #[span.close.ico-close]
			span.tag.primary.m-right tag1 #[span.close.ico-close]
			span.tag.success.m-right tag1 #[span.close.ico-close]
			span.tag.info.m-right tag1 #[span.close.ico-close]
			span.tag.warn.m-right tag1 #[span.close.ico-close]
			span.tag.danger.m-right tag1 #[span.close.ico-close]
			span.tag.disabled.m-right tag1 #[span.close.ico-close]

		