/* device break points */
$xs: 0;		// from 0 to 600
$sm: 600px; // 768px
$md: 992px;
$lg: 1200px;
$xl: 1920px;

// grid gutter (cellspacing)
$layoutGridGutter: 6px;

// $sm-up: 601px; // smal and up
// $md-up: 993px;
// $lg-up: 1201px;
// $xl-up: 1921px;

// $breakPoints: (
// 	xs: $xs,
// 	sm: $sm,
// 	md: $md,
// 	lg: $lg,
// 	xl: $xl
// );
