extends ../_layout
append head
	title layout
	style.
		.col{
			background-color: #e5e9f2;
			border: 1px solid #d3dce6;
			padding: 2px;
		}
block body
	.container
		h1 layout

		p .col.{xs|sm|md|lg|xl}{0-12}
		.row
			.col.xs1 .col.xs1 1
			.col.xs1 .col.xs1 2
			.col.xs1 .col.xs1 3
			.col.xs1 .col.xs1 4
			.col.xs1 .col.xs1 5
			.col.xs1 .col.xs1 6
			.col.xs1 .col.xs1 7
			.col.xs1 .col.xs1 8
			.col.xs1 .col.xs1 9
			.col.xs1 .col.xs1 10
			.col.xs1 .col.xs1 11
			.col.xs1 .col.xs1 12
		.row.m-top
			.col.xs1 .col.xs1
			.col.xs11 .col.xs11
		.row.m-top
			.col.xs2 .col.xs2
			.col.xs10 .col.xs10
		.row.m-top
			.col.xs3 .col.xs3
			.col.xs9 .col.xs9
		.row.m-top
			.col.xs4 .col.xs4
			.col.xs8 .col.xs8
		.row.m-top
			.col.xs5 .col.xs5
			.col.xs7 .col.xs7
		.row.m-top
			.col.xs6 .col.xs6
			.col.xs6 .col.xs6