extends ../_layout
append head
	title Links
block body
	.container
		h1 Links

		h2 Ancors
		a.block(href="#") a(href="")
		a.flat.block(href="#") a.flat(href="")
		a.default.block(href="#") a.default(href="")
		a.primary.block(href="#") a.primary(href="")
		a.success.block(href="#") a.success(href="")
		a.info.block(href="#") a.info(href="")
		a.warn.block(href="#") a.warn(href="")
		a.danger.block(href="#") a.danger(href="")

		h2 Hover
		a.hover.block(href="#") a.hover(href="#")
		a.hover.default.block(href="#") a.hover.default(href="#")
		a.hover.primary.block(href="#") a.hover.primary(href="#")
		a.hover.success.block(href="#") a.hover.success(href="#")
		a.hover.info.block(href="#") a.hover.info(href="#")
		a.hover.warn.block(href="#") a.hover.warn(href="#")
		a.hover.danger.block(href="#") a.hover.danger(href="#")


		h2 .link
		span.link.block(href="#") link
		span.link.flat.block(href="#") link.flat
		span.link.default.block(href="#") link.default
		span.link.primary.block(href="#") link.primary
		span.link.success.block(href="#") link.success
		span.link.info.block(href="#") link.info
		span.link.warn.block(href="#") link.warn
		span.link.danger.block(href="#") link.danger

	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	p sdfsdf