extends ../_layout
append head
	title Links
block body
	.container
		h1 Links

		h2 Ancors
		a.block(href="#") link
		a.default.block(href="#") link
		a.primary.block(href="#") link
		a.success.block(href="#") link
		a.info.block(href="#") link
		a.warn.block(href="#") link
		a.danger.block(href="#") link

		h2 Hover
		a.hover.block(href="#") link
		a.hover.default.block(href="#") link
		a.hover.primary.block(href="#") link
		a.hover.success.block(href="#") link
		a.hover.info.block(href="#") link
		a.hover.warn.block(href="#") link
		a.hover.danger.block(href="#") link


		h2 .link
		span.link.block(href="#") link
		span.link.default.block(href="#") link
		span.link.primary.block(href="#") link
		span.link.success.block(href="#") link
		span.link.info.block(href="#") link
		span.link.warn.block(href="#") link
		span.link.danger.block(href="#") link

	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	p sdfsdf