extends ../_layout
append head
	title Text
	style.
		.bg{
			background-color: #e5e9f2;
			border: 1px solid #d3dce6;
			padding: 2px;
		}
block body
	.container
		h1 Text

		//- select
		h2 Select
		.row
			.col.md4.noselect.
				#[b .noselect (default)]
				#[br]Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			.col.md4.select.
				#[b .select]
				#[br]Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			.col.md4.auto-select.
				#[b .auto-select]
				#[br]Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		
		//- align
		h2 Align
		.row
			.col.md6
				.bg.t-start .t-start
				.bg.t-left .t-left
				.bg.t-center .t-center
				.bg.t-right .t-right
				.bg.t-justify .t-justify
				.bg.t-end .t-end
			.col.md6.padding-h
				|-
				.inline-block.bg.t-top .t-top
				|-
				.inline-block.bg.v-sub .v-sub
				|-
				.inline-block.bg.v-super .v-super
				|-
				.inline-block.bg.v-baseline .v-baseline
				|-
				.inline-block.bg.v-middle .v-middle
				|-
				.inline-block.bg.v-bottom .v-bottom
				|-
				.inline-block.bg.v-text-top .v-text-top
				|-
				.inline-block.bg.v-text-bottom .v-text-bottom

		//- format
		h2 Format
		.inline-block.padding-h.v-top
			.bold .bold
			.bolder .bolder
			.italic .italic
			.oblique .oblique
		.inline-block.padding-h.v-top
			.capitalize .capitalize
			.lowercase .lowercase
			.uppercase .uppercase
		.inline-block.padding-h.v-top
			.small-caps .small-caps
			.all-small-caps .all-small-caps
			.all-small-caps .all-small-caps
			.unicase .unicase
		.inline-block.padding-h.v-top
			.overline .overline
			.overline-wavy .overline-wavy
			.overline-dashed .overline-dashed
			.overline-dotted .overline-dotted
			.overline-double .overline-double
		.inline-block.padding-h.v-top
			.underline .underline
			.underline-wavy .underline-wavy
			.underline-dashed .underline-dashed
			.underline-dotted .underline-dotted
			.underline-double .underline-double
		.inline-block.padding-h.v-top
			.line-through .line-through
			.line-through-wavy .line-through-wavy
			.line-through-dashed .line-through-dashed
			.line-through-dotted .line-through-dotted
			.line-through-double .line-through-double
		.inline-block.padding-h.v-top
			.cursive .cursive
			.fantasy .fantasy
			.monospace .monospace

		.inline-block.padding-h.v-top
			div .nowrap
			div .wrap
			div .truncate
		.inline-block.padding-h.v-top
			div .pre
			div .pre-line
			div .pre-wrap

		//- Size
		h2 Size
		.inline-block.padding-h.v-top
			small small
			.small .small, t-sm
			.smaller .smaller
			.x-small .x-small, t-xs
			.xx-small .xx-small
		.inline-block.padding-h.v-top
			.large .large, .t-lg
			.larger .larger
			.x-large .x-large, .t-xl
			.xx-large .xx-large, .t-xxl

		//- colors
		h2 Colors
		.bg.t-white .t-white
		.bg.t-primary .t-primary
		.bg.t-success .t-success
		.bg.t-info .t-info
		.bg.t-warn .t-warn
		.bg.t-danger .t-danger
		.bg.disabled .disabled