extends ../_layout
append head
	title Alerts
block body
	.container
		h1 Alerts:
		h2 Simple alerts:
		.row
			.col.sm4.md3
				.alert.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
			.col.sm4.md3
				.alert.primary.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
			.col.sm4.md3
				.alert.success.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
			.col.sm4.md3
				.alert.info.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
			.col.sm4.md3
				.alert.warn.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
			.col.sm4.md3
				.alert.danger.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
		h2 Custom colors
		.row
			.col.sm4.md3
				.alert.red.lighten3
					b Lorem ipsum dolor sit amet
					p consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
			.col.sm4.md3
				.alert.brown.lighten3
					b Lorem ipsum dolor sit amet
					p consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
			.col.sm4.md3
				.alert.yellow.lighten3
					b Lorem ipsum dolor sit amet
					p consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
			.col.sm4.md3
				.alert.green.lighten3
					b Lorem ipsum dolor sit amet
					p consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
			.col.sm4.md3
				.alert.amber.lighten3
					b Lorem ipsum dolor sit amet
					p consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
			.col.sm4.md3
				.alert.blue.lighten3
					b Lorem ipsum dolor sit amet
					p consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
		
		h2 With icons
		.row
			.col.sm4.md3
				.alert(data-icon='cached')
					b Lorem ipsum dolor sit amet
					p consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
			.col.sm4.md3
				.alert.primary(data-icon='all_out')
					b Lorem ipsum dolor sit amet
					p consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
			.col.sm4.md3
				.alert.success(data-icon='done')
					b Lorem ipsum dolor sit amet
					p consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
			.col.sm4.md3
				.alert.info(data-icon='info')
					b Lorem ipsum dolor sit amet
					p consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
			.col.sm4.md3
				.alert.warn(data-icon='warning')
					b Lorem ipsum dolor sit amet
					p consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
			.col.sm4.md3
				.alert.danger(data-icon='error')
					b Lorem ipsum dolor sit amet
					p consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
