extends ../_layout
append head
	title Badge
block body
	.container
		h1 Badges:
		h2 Basic badges:
		div Lorem ipsum dolor #[span.badge sit amet], consectetur adipisicing elit, sed do eiusmod
		div Lorem ipsum dolor #[span.badge.primary sit amet], consectetur adipisicing elit, sed do eiusmod
		div Lorem ipsum dolor #[span.badge.success sit amet], consectetur adipisicing elit, sed do eiusmod
		div Lorem ipsum dolor #[span.badge.info sit amet], consectetur adipisicing elit, sed do eiusmod
		div Lorem ipsum dolor #[span.badge.warn sit amet], consectetur adipisicing elit, sed do eiusmod
		div Lorem ipsum dolor #[span.badge.danger sit amet], consectetur adipisicing elit, sed do eiusmod
		div Lorem ipsum dolor #[span.badge.disabled sit amet], consectetur adipisicing elit, sed do eiusmod

		h2 Custom colors:
		div Lorem ipsum dolor #[span.badge.blue sit amet], consectetur adipisicing elit, sed do eiusmod
		div Lorem ipsum dolor #[span.badge.yellow sit amet], consectetur adipisicing elit, sed do eiusmod
		div Lorem ipsum dolor #[span.badge.red sit amet], consectetur adipisicing elit, sed do eiusmod
		div Lorem ipsum dolor #[span.badge.amber sit amet], consectetur adipisicing elit, sed do eiusmod
		div Lorem ipsum dolor #[span.badge.orange sit amet], consectetur adipisicing elit, sed do eiusmod
