extends ../_layout
append head
	title Buttons
block body
	.container
		h1 Buttons:

		h2 DEFAULT BUTTONS
		div
			span.btn(tabindex=1) Default
			span.btn.primary(tabindex=2) Primary
			span.btn.success(tabindex=3) Success
			span.btn.info(tabindex=4) Info
			span.btn.warn(tabindex=5) Warning
			span.btn.danger(tabindex=6) Danger
			span.btn.disabled disabled
		//- active
		div
			span.btn.active Default
			span.btn.active.primary Primary
			span.btn.active.success Success
			span.btn.active.info Info
			span.btn.active.warn Warning
			span.btn.active.danger Danger
			span.btn.active.disabled disabled

		h2 OUTLINED BUTTONS
		div
			span.btn.outline Default
			span.btn.outline.primary Primary
			span.btn.outline.success Success
			span.btn.outline.info Info
			span.btn.outline.warn Warning
			span.btn.outline.danger Danger
			span.btn.outline.disabled disabled
		//- active
		div
			span.btn.active.outline Default
			span.btn.active.outline.primary Primary
			span.btn.active.outline.success Success
			span.btn.active.outline.info Info
			span.btn.active.outline.warn Warning
			span.btn.active.outline.danger Danger
			span.btn.active.outline.disabled disabled

		h2 LOW IMPORTANT BUTTONS
		p Add class "optional"
		div
			span.btn.optional Default
			span.btn.optional.primary Primary
			span.btn.optional.success Success
			span.btn.optional.info Info
			span.btn.optional.warn Warning
			span.btn.optional.danger Danger
			span.btn.optional.disabled disabled
		//- active
		div
			span.btn.active.optional Default
			span.btn.active.optional.primary Primary
			span.btn.active.optional.success Success
			span.btn.active.optional.info Info
			span.btn.active.optional.warn Warning
			span.btn.active.optional.danger Danger
			span.btn.active.optional.disabled disabled

		h2 With icons
		span.btn #[i.ico assignment_turned_in] Default
		span.btn.outline #[i.ico check_circle] Default
		span.btn.flat #[i.ico drag_indicator] Default