extends ../_layout
append head
	title Buttons
block body
	.container
		h1 Buttons:

		h2 DEFAULT BUTTONS:
		div
			span.btn(tabindex=1) Default
			span.btn.primary(tabindex=2) Primary
			span.btn.success(tabindex=3) Success
			span.btn.info(tabindex=4) Info
			span.btn.warn(tabindex=5) Warning
			span.btn.danger(tabindex=6) Danger
			span.btn.disabled disabled
		//- active
		div
			span.btn.active Default
			span.btn.active.primary Primary
			span.btn.active.success Success
			span.btn.active.info Info
			span.btn.active.warn Warning
			span.btn.active.danger Danger
			span.btn.active.disabled disabled

		h2 OUTLINED BUTTONS:
		div
			span.btn.outline Default
			span.btn.outline.primary Primary
			span.btn.outline.success Success
			span.btn.outline.info Info
			span.btn.outline.warn Warning
			span.btn.outline.danger Danger
			span.btn.outline.disabled disabled
		//- active
		div
			span.btn.active.outline Default
			span.btn.active.outline.primary Primary
			span.btn.active.outline.success Success
			span.btn.active.outline.info Info
			span.btn.active.outline.warn Warning
			span.btn.active.outline.danger Danger
			span.btn.active.outline.disabled disabled

		h2 LOW IMPORTANT BUTTONS:
		p Add class "flat"
		div
			span.btn.flat Default
			span.btn.flat.primary Primary
			span.btn.flat.success Success
			span.btn.flat.info Info
			span.btn.flat.warn Warning
			span.btn.flat.danger Danger
			span.btn.flat.disabled disabled
		//- active
		div
			span.btn.active.flat Default
			span.btn.active.flat.primary Primary
			span.btn.active.flat.success Success
			span.btn.active.flat.info Info
			span.btn.active.flat.warn Warning
			span.btn.active.flat.danger Danger
			span.btn.active.flat.disabled disabled

		h2 With icons:
		span.btn #[i.ico assignment_turned_in] Default
		span.btn.outline #[i.ico check_circle] Default
		span.btn.flat #[i.ico drag_indicator] Default

		//- Button group
		h2 Button Group:
		.row
			.col.sm6.md4
				.group
					.btn Button1
					.btn Button2
					.btn Button3
			.col.sm4.md2
				.v-group
					.btn Button1
					.btn Button2
					.btn Button3
		//- Loading
		h2 Loading:
		.row
			.col.sm6.md4
				.btn.loading button content
		//- Progress
		h2 Progress:
		.row
			.col.sm6.md4
				.btn
					span button content
					.progress #[.pc #[.pb(style={width:'60%'})]]
		//- circle
		h2 Circle:
		div
			.btn.circle.ico add
			.btn.circle.ico send
			.btn.circle.ico add_alarm
			.btn.circle.ico mail
			.btn.circle.ico flag
			.btn.circle.ico.loading flag
		div
			-socials = 'paypal flattr googleplus wikipedia pinterest w3c reddit appstore blogger flickr google viadeo linkedin vk rss skype twitter youtube vimeo yahoo amazon tumblr soundcloud gmail itunes googleplay facebook dropbox cloudapp buffer stackoverflow superpowers github instagram'.split(' ');
			each s in socials
				.btn.circle.social(class= s)
