extends ../_layout
append head
	title Buttons
block body
	.container
		h1 Buttons:

		h2 DEFAULT BUTTONS
		div
			span.btn Default
			span.btn.primary Primary
			span.btn.success Success
			span.btn.info Info
			span.btn.warn Warning
			span.btn.danger Danger
			span.btn.disabled disabled

		h2 OUTLINED BUTTONS
		div
			span.btn.outline Default
			span.btn.outline.primary Primary
			span.btn.outline.success Success
			span.btn.outline.info Info
			span.btn.outline.warn Warning
			span.btn.outline.danger Danger
			span.btn.outline.disabled disabled

		h2 LOW IMPORTANT BUTTONS
		p Add class "optional"
		div
			span.btn.optional Default
			span.btn.optional.primary Primary
			span.btn.optional.success Success
			span.btn.optional.info Info
			span.btn.optional.warn Warning
			span.btn.optional.danger Danger
			span.btn.optional.disabled disabled