extends ../_layout
append head
	title Colors
block body
	//- colors
	-var colors='black white transparent red pink purple deep-purple indigo blue light-blue cyan teal green light-green lime yellow amber orange deep-orange brown grey blue-grey'.split(' ');
	h1 Colors:

	h2 Text colors:
	each color in colors
		p(class='text-' + color) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod


