extends ../_layout
append head
	title Forms
block body
	//- input text
	.container
		h1 Text Inputs:

		h2 Basic use:
		form.row
			.col.sm6.md4
				p Add class "f-cntrl" to the field container to active magic!
				label.f-cntrl
					input.f-input(type="text" placeholder="Input text")
				label.f-cntrl
					input.f-input(type="password" placeholder="Input password")
				label.f-cntrl
					input.f-input(type="text" placeholder="Disabled input" disabled)
				label.f-cntrl
					textarea.f-input Text area content
			.col.sm6.md4
				p Icons: use material icons (or any)
				label.f-cntrl
					.f-group
						i.ico dashboard
						input.f-input(type="text" placeholder="Input text")
				label.f-cntrl
					.f-group
						input.f-input(type="text" placeholder="Input text")
						i.ico class
				label.f-cntrl
					.f-group
						i.ico contact_support
						input.f-input(type="text" placeholder="Input text")
						i.ico done
				label.f-cntrl
					.f-group
						i.ico contact_support
						textarea.f-input Text area content
						i.ico done
			.col.sm6.md4
				p with label:
				label.f-cntrl
					.label Input label:
					.f-group
						i.ico dashboard
						input.f-input(type="text" placeholder="Input text")
				label.f-cntrl
					.label Input label:
					.desc Input description
					.f-group
						i.ico dashboard
						input.f-input(type="text" placeholder="Input text")
				label.f-cntrl
					.label Input label#[span.desc - Input description]
					.f-group
						i.ico dashboard
						input.f-input(type="text" placeholder="Input text")
				label.f-cntrl
					.label Input label:
					.f-group
						i.ico dashboard
						input.f-input(type="text" placeholder="Input text")
					.desc.t-right Input description

		h2 States:
		form.row
			.col.sm6.md4
				-var states = ['has-done', 'has-info', 'has-warn', 'has-error', 'loading']
				each state in states
					label.f-cntrl(class=state)
						.label Input label:
						.f-group
							i.ico dashboard
							input.f-input(type="text" placeholder="Input text")
						//- messages
						.desc.t-right
							.when-done #[i.ico done] Message when done.
							.when-info #[i.ico info] Message when info.
							.when-warn #[i.ico warning] Message when warn.
							.when-error #[i.ico error] Message when error.
							.when-loading #[i.ico.anti-rotate sync] Message when loading.
			.col.sm6.md4
				-var states = ['has-done', 'has-info', 'has-warn', 'has-error', 'loading']
				each state in states
					label.f-cntrl(class=state)
						.label Input label:
						.f-group
							i.ico dashboard
							input.f-input(type="text" placeholder="Input text")
							.ico.when-done done
							.ico.when-info info
							.ico.when-warn warning
							.ico.when-error error
							.ico.when-loading.anti-rotate sync
						//- messages
						.desc.t-right
							.when-done Message when done.
							.when-info Message when info.
							.when-warn Message when warn.
							.when-error Message when error.
							.when-loading Message when loading.

		h2 Progress:
		form.row
			.col.sm6.md4
				label.f-cntrl
					.label Input label:
					.f-group
						i.ico dashboard
						input.f-input(type="text" placeholder="Input text")
						//- progress
						.progress.loading
							.pc #[.pb(style={width:'60%'})]
				label.f-cntrl
					.label Input label:
					.f-group
						i.ico dashboard
						input.f-input(type="text" placeholder="Input text")
						//- progress
						.progress
							.pc #[.pb(style={width:'60%'})]

	//- checkbox, radio and switches
	.container
		h1 Checkbox, Radio and Switches
		form.row
			.col.sm4.md3
				p Checkbox:
				label.block.f-checkbox
					input(type="checkbox")
					span
						svg(viewBox='0 0 12 10')
							polyline(points="1.5 6 4.5 9 10.5 1")
					span.label Check box label
				label.block.primary.f-checkbox
					input(type="checkbox")
					span
						svg(viewBox='0 0 12 10')
							polyline(points="1.5 6 4.5 9 10.5 1")
					span.label Check box label
				label.block.success.f-checkbox
					input(type="checkbox")
					span
						svg(viewBox='0 0 12 10')
							polyline(points="1.5 6 4.5 9 10.5 1")
					span.label Check box label
				label.block.info.f-checkbox
					input(type="checkbox")
					span
						svg(viewBox='0 0 12 10')
							polyline(points="1.5 6 4.5 9 10.5 1")
					span.label Check box label
				label.block.warn.f-checkbox
					input(type="checkbox")
					span
						svg(viewBox='0 0 12 10')
							polyline(points="1.5 6 4.5 9 10.5 1")
					span.label Check box label
				label.block.danger.f-checkbox
					input(type="checkbox")
					span
						svg(viewBox='0 0 12 10')
							polyline(points="1.5 6 4.5 9 10.5 1")
					span.label Check box label
				label.block.f-checkbox.disabled
					input(type="checkbox")
					span #[svg(viewBox='0 0 12 10') #[polyline(points="1.5 6 4.5 9 10.5 1")]]
					span.label Disabled checkbox
				label.block.f-checkbox.disabled
					input(type="checkbox" checked)
					span #[svg(viewBox='0 0 12 10') #[polyline(points="1.5 6 4.5 9 10.5 1")]]
					span.label Disabled checkbox

					

			//- checkboxes with hover
			.col.sm4.md3
				p Checkbox width "hover" class
				label.block.f-checkbox.hover
					input(type="checkbox")
					span
						svg(viewBox='0 0 12 10')
							polyline(points="1.5 6 4.5 9 10.5 1")
					span.label Check box label
				label.block.primary.f-checkbox.hover
					input(type="checkbox")
					span
						svg(viewBox='0 0 12 10')
							polyline(points="1.5 6 4.5 9 10.5 1")
					span.label Check box label
				label.block.success.f-checkbox.hover
					input(type="checkbox")
					span
						svg(viewBox='0 0 12 10')
							polyline(points="1.5 6 4.5 9 10.5 1")
					span.label Check box label
				label.block.info.f-checkbox.hover
					input(type="checkbox")
					span
						svg(viewBox='0 0 12 10')
							polyline(points="1.5 6 4.5 9 10.5 1")
					span.label Check box label
				label.block.warn.f-checkbox.hover
					input(type="checkbox")
					span
						svg(viewBox='0 0 12 10')
							polyline(points="1.5 6 4.5 9 10.5 1")
					span.label Check box label
				label.block.danger.f-checkbox.hover
					input(type="checkbox")
					span
						svg(viewBox='0 0 12 10')
							polyline(points="1.5 6 4.5 9 10.5 1")
					span.label Check box label
				label.block.f-checkbox.hover.disabled
					input(type="checkbox")
					span #[svg(viewBox='0 0 12 10') #[polyline(points="1.5 6 4.5 9 10.5 1")]]
					span.label Disabled checkbox
				label.block.f-checkbox.hover.disabled
					input(type="checkbox" checked)
					span #[svg(viewBox='0 0 12 10') #[polyline(points="1.5 6 4.5 9 10.5 1")]]
					span.label Disabled checkbox
					
			//- radio
			.col.sm4.md3
				p Radio
				label.block.f-radio
					input(type="radio" name="rd1")
					span
					span.label Radio label
				label.block.f-radio.primary #[input(type="radio" name="rd1")]#[span]#[span.label Radio label]
				label.block.f-radio.success #[input(type="radio" name="rd1")]#[span]#[span.label Radio label]
				label.block.f-radio.info #[input(type="radio" name="rd1")]#[span]#[span.label Radio label]
				label.block.f-radio.warn #[input(type="radio" name="rd1")]#[span]#[span.label Radio label]
				label.block.f-radio.danger #[input(type="radio" name="rd1")]#[span]#[span.label Radio label]
				label.block.f-radio.disabled.danger #[input(type="radio" name="rd1")]#[span]#[span.label Disabled radio]
				label.block.f-radio.disabled.danger #[input(type="radio" name="rd1" checked)]#[span]#[span.label Disabled radio]
			.col.sm4.md3
				p Radio with "hover"
				label.block.f-radio.hover #[input(type="radio" name="rd2")]#[span]#[span.label Radio label]
				label.block.f-radio.hover.primary #[input(type="radio" name="rd2")]#[span]#[span.label Radio label]
				label.block.f-radio.hover.success #[input(type="radio" name="rd2")]#[span]#[span.label Radio label]
				label.block.f-radio.hover.info #[input(type="radio" name="rd2")]#[span]#[span.label Radio label]
				label.block.f-radio.hover.warn #[input(type="radio" name="rd2")]#[span]#[span.label Radio label]
				label.block.f-radio.hover.danger #[input(type="radio" name="rd2")]#[span]#[span.label Radio label]
				label.block.f-radio.hover.disabled.danger #[input(type="radio" name="rd2")]#[span]#[span.label Disabled radio]
				label.block.f-radio.hover.disabled.danger #[input(type="radio" name="rd2" checked)]#[span]#[span.label Disabled radio]
			//- switches
			.col.sm4.md3
				p Switch:
				label.block.f-switch
					input(type="checkbox")
					span
					span.label Switch label
				label.block.f-switch.primary #[input(type="checkbox")]#[span]#[span.label Switch label]
				label.block.f-switch.success #[input(type="checkbox")]#[span]#[span.label Switch label]
				label.block.f-switch.info #[input(type="checkbox")]#[span]#[span.label Switch label]
				label.block.f-switch.warn #[input(type="checkbox")]#[span]#[span.label Switch label]
				label.block.f-switch.danger #[input(type="checkbox")]#[span]#[span.label Switch label]
				label.block.f-switch.disabled.danger #[input(type="checkbox")]#[span]#[span.label Disabled switch]
				label.block.f-switch.disabled.danger #[input(type="checkbox" checked)]#[span]#[span.label Disabled switch]

			//- switches with hover --------------
			.col.sm4.md3
				p Switch with "hover" class
				label.block.f-switch.hover
					input(type="checkbox")
					span
					span.label Switch label
				label.block.f-switch.hover.primary #[input(type="checkbox")]#[span]#[span.label Switch label]
				label.block.f-switch.hover.success #[input(type="checkbox")]#[span]#[span.label Switch label]
				label.block.f-switch.hover.info #[input(type="checkbox")]#[span]#[span.label Switch label]
				label.block.f-switch.hover.warn #[input(type="checkbox")]#[span]#[span.label Switch label]
				label.block.f-switch.hover.danger #[input(type="checkbox")]#[span]#[span.label Switch label]
				label.block.f-switch.hover.disabled.danger #[input(type="checkbox")]#[span]#[span.label Disabled switch]
				label.block.f-switch.hover.disabled.danger #[input(type="checkbox" checked)]#[span]#[span.label Disabled switch]
			//- state messages
			.col.sm4.md3
				p State messages
				p Use classes: when-checked, when-unchecked
				label.block.f-switch.hover.primary
					input(type="checkbox")
					span
					span.label Switch label
					.when-checked Switch, radio or checkbox #[b checked]
					.when-unchecked Switch, radio or checkbox #[b unchecked]
	
	//- //- autocomplete
	//- .container
	//- 	h1 autocomplete
	//- //- date picker
	//- .container
	//- 	h1 date picker
	//- //- color picker
	//- .container
	//- 	h1 color picker
	//- //- form validation
	//- .container
	//- 	h1 form validation
	//- 	br//- select, dropdown
	.container
		h1 With buttons
		.group
			input.f-input(type="text" placeholder="My text")
			.btn Button3
		.group.m-top
			input.btn(type="button" value="Button3")
			input.f-input(type="text" placeholder="My text")

		.group.m-top
			.f-group
				i.ico dashboard
				input.f-input(type="text" placeholder="Input text")
			input.btn(type="button" value="Button3")

		.group.m-top
			.f-group
				input.f-input(type="text" placeholder="Input text")
				i.ico dashboard
			input.btn(type="button" value="Button3")

		.group.m-top.disabled
			.f-group
				input.f-input(type="text" placeholder="Input text")
				i.ico dashboard
				//- progress
				.progress.loading
					.pc #[.pb(style={width:'60%'})]
			input.btn(type="button" value="Button3")
			
		.group.m-top
			.f-group
				input.f-input(type="text" placeholder="Input text")
				i.ico dashboard
				//- progress
				.progress.loading
					.pc #[.pb(style={width:'60%'})]
			input.btn(type="button" value="Button3")

	//- select, dropdown
	.container
		h1 select
		.row
			.col.sm4.md3
				select.f-input
					option Select option1
					option Select option2
					option Select option3
	//- dropdown
	.container
		h1 Dropdown
		.dropdown
			.dropdown-value
				|lorem ispum
				i.ico arrow_drop_down
			.dropdown-popup
				ul.list
					li.dropdown-item.p-tiny first value
					li.dropdown-item.p-tiny second value
					li.dropdown-item.dropdown-hover.p-tiny third value
					li.dropdown-item.p-tiny quad value
					li.dropdown-item.p-tiny fift value
					li.dropdown-item.p-tiny first value
					li.dropdown-item.p-tiny second value
					li.dropdown-item.dropdown-hover.p-tiny third value
					li.dropdown-item.p-tiny quad value
					li.dropdown-item.p-tiny fift value
					li.dropdown-item.p-tiny first value
					li.dropdown-item.p-tiny second value
					li.dropdown-item.dropdown-hover.p-tiny third value
					li.dropdown-item.p-tiny quad value
					li.dropdown-item.p-tiny fift value
					li.dropdown-item.p-tiny first value
					li.dropdown-item.p-tiny second value
					li.dropdown-item.dropdown-hover.p-tiny third value
					li.dropdown-item.p-tiny quad value
					li.dropdown-item.p-tiny fift value
					li.dropdown-item.p-tiny first value
					li.dropdown-item.p-tiny second value
					li.dropdown-item.dropdown-hover.p-tiny third value
					li.dropdown-item.p-tiny quad value
					li.dropdown-item.p-tiny fift value
					li.dropdown-item.p-tiny first value
					li.dropdown-item.p-tiny second value
					li.dropdown-item.dropdown-hover.p-tiny third value
					li.dropdown-item.p-tiny quad value
					li.dropdown-item.p-tiny fift value

	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br

