extends ../_layout
append head
	title Icons
block body
	.container
		h1 Icons:

		h2 Materials:
		p We do use Google material icons at: #[a(href='https://material.io/tools/icons/') https://material.io/tools/icons/]
		p.
			Add this link to your "head": #{'<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">'}
			#[br]
			Then just add: #{'<i class="material-icons">{icon name}</i>'}
		p Examples:
		i.material-icons 3d_rotation
		i.material-icons ac_unit
		i.material-icons access_alarm

		//- h2 Alternative:
		//- p.
		//- 	You can add an attribute "data-icon" to your tag containing the icon name (like material)
		//- 	this will add an "before" to the tag
		//- b Example:
		//- div(data-icon="3d_rotation") 3d_rotation
		//- div(data-icon="ac_unit") ac_unit
		//- div(data-icon="access_alarm") access_alarm