extends ../_layout
append head
	title Layout
block body
	.container
		h1 Layout:

		h2 Simple grid:
		p Based on 12 columns

		//- simple
		.row.align-center
			.col.xs1.teal.accent1 .col.xs1
			.col.xs1.teal.lighten5 .col.xs1
			.col.xs1.teal.lighten4 .col.xs1
			.col.xs1.teal.lighten3 .col.xs1
			.col.xs1.teal.lighten2 .col.xs1
			.col.xs1.teal.lighten1 .col.xs1
			.col.xs1.teal .col.xs1
			.col.xs1.teal.darken1 .col.xs1
			.col.xs1.teal.darken2 .col.xs1
			.col.xs1.teal.darken3 .col.xs1
			.col.xs1.teal.darken4 .col.xs1
			.col.xs1.teal.darken5 .col.xs1

		.row.align-center
			.col.xs4.teal.accent1 .col.xs4
			.col.xs2.teal.lighten5 .col.xs2
			.col.xs1.teal.lighten4 .col.xs1
			.col.xs3.teal.lighten3 .col.xs3
			.col.xs2.teal.lighten2 .col.xs2
		.row.align-center
			.col.xs7.teal.darken2 .col.xs7
			.col.xs5.teal.darken3 .col.xs5
			.col.xs12.teal .col.xs12

		ul
			li xs{1-12}: Apply on all screens
			li sm{1-12}:  Apply on small screens and up
			li md{1-12}: Apply on midium screens and up
			li lg{1-12}: Apply on large screens and up
			li xl{1-12}: Apply on extra large screens