extends ../_layout
append head
	title Layout
block body
	.container
		h1 Lists:
		h2 Simple list
		
		.card
			ul.list
				li Lorem ipsum dolor sit amet,
				li consectetur adipisicing elit
				li sed do eiusmod
				li.hr tempor incididunt ut labore
				li dolore magna aliqua.
				li Ut enim ad minim veniam

		.card
			ol.list
				li Lorem ipsum dolor sit amet,
				li consectetur adipisicing elit
				li sed do eiusmod
				li tempor incididunt ut labore
				li.hr dolore magna aliqua.
				li Ut enim ad minim veniam

		h2 hover:
		.card
			ul.list.hover
				li Lorem ipsum dolor sit amet,
				li consectetur adipisicing elit
				li sed do eiusmod
				li.hr tempor incididunt ut labore
				li dolore magna aliqua.
				li Ut enim ad minim veniam