extends ../_layout
append head
	title Progress bars, loading
block body
	.container
		h1 Liniaire progress bar:

		h2 Basic progress bars:
		//- simple progress bar
		.m-top.progress
			.label Label for the progress bar
			//- progress container
			.pc
				//- progress bar
				.pb(style={width:'56%'})
		//- primary
		.m-top.progress.primary
			.label Label for the progress bar
			.pc #[.pb(style={width:'40%'})]
		//- primary
		.m-top.progress.success
			.label Label for the success progress bar
			.pc #[.pb(style={width:'100%'})]
		//- info
		.m-top.progress.info
			.label Please wait...
			.pc #[.pb(style={width:'35%'})]
		//- warn
		.m-top.progress.warn
			.label Loading 85%
			.pc #[.pb(style={width:'85%'})]
		//- danger
		.m-top.progress.danger
			.label Operation Failed
			.pc #[.pb(style={width:'40%'})]
		//- Disabled
		.m-top.progress.disabled
			.label Loading 25%
			.pc #[.pb(style={width:'25%'})]
				
		h2 Custom color:

		.m-top.progress
			.label.text-brown Loading 25%
			.pc.brown.lighten3 #[.pb.brown(style={width:'25%'})]

		.m-top.progress
			.label.text-green Loading 25%
			.pc.green.lighten3 #[.pb.green(style={width:'25%'})]

		.m-top.progress
			.label.text-blue Loading 25%
			.pc.blue.lighten3 #[.pb.blue(style={width:'25%'})]

		.m-top.progress
			.label.text-purple Loading 25%
			.pc.purple.lighten3 #[.pb.purple(style={width:'25%'})]

		.m-top.progress
			.label.text-blue-grey Loading 25%
			.pc.blue-grey.lighten3 #[.pb.blue-grey(style={width:'25%'})]
		
		h2 Indeterminate linear progress indicator
		p just add class "loading" to the progress bar.

		.m-top.progress.primary.loading
			.label Loading...
			.pc #[.pb(style={width:'40%'})]

		h2 RTL: Any progress inside an element with "rtl" class
		.m-top.progress.success.loading.rtl
			.label Loading...
			.pc #[.pb(style={width:'40%'})]

		.rtl
			.m-top.progress.info.loading.rtl
				.label Loading...
				.pc #[.pb(style={width:'40%'})]

		//- circular progress
		h1 Circular progress bar:

		div
			svg.margin.progress(viewBox="25 25 50 50")
				circle.pp(stroke-dasharray= "90, 125")

			svg.margin.progress.primary(viewBox="25 25 50 50")
				circle.pp(stroke-dasharray= "100, 125")

			svg.margin.progress.success(viewBox="25 25 50 50")
				circle.pp(stroke-dasharray= "90, 125")

			svg.margin.progress.info(viewBox="25 25 50 50")
				circle.pp(stroke-dasharray= "85, 125")

			svg.margin.progress.warn(viewBox="25 25 50 50")
				circle.pp(stroke-dasharray= "70, 125")

			svg.margin.progress.danger(viewBox="25 25 50 50")
				circle.pp(stroke-dasharray= "99, 125")

			svg.margin.progress.disabled(viewBox="25 25 50 50")
				circle.pp(stroke-dasharray= "112, 125")

		div
			svg.margin.progress(viewBox="25 25 50 50")
				circle.pt
				circle.pp(stroke-dasharray= "90, 125")

			svg.margin.progress.primary(viewBox="25 25 50 50")
				circle.pt
				circle.pp(stroke-dasharray= "100, 125")

			svg.margin.progress.success(viewBox="25 25 50 50")
				circle.pt
				circle.pp(stroke-dasharray= "100, 125")

			svg.margin.progress.info(viewBox="25 25 50 50")
				circle.pt
				circle.pp(stroke-dasharray= "85, 125")

			svg.margin.progress.warn(viewBox="25 25 50 50")
				circle.pt
				circle.pp(stroke-dasharray= "70, 125")

			svg.margin.progress.danger(viewBox="25 25 50 50")
				circle.pt
				circle.pp(stroke-dasharray= "99, 125")

			svg.margin.progress.disabled(viewBox="25 25 50 50")
				circle.pt
				circle.pp(stroke-dasharray= "112, 125")
		//- large
		div
			svg.margin.progress.large.disabled(viewBox="25 25 50 50")
				circle.pp(stroke-dasharray= "90, 125")
			svg.margin.progress.large.loading(viewBox="25 25 50 50")
				circle.pp(stroke-dasharray= "80, 125")
			svg.margin.progress.large.disabled(viewBox="25 25 50 50")
				circle.pt
				circle.pp(stroke-dasharray= "90, 125")
			svg.margin.progress.large.loading(viewBox="25 25 50 50")
				circle.pt
				circle.pp(stroke-dasharray= "80, 125")

		//- Radial progress bar
		h1 Radial progress bar:
		div
			//- without track
			svg.margin.progress.radial(viewBox="35 29 30 22")
				circle.pp(stroke-dasharray= "62.5 125")
			svg.margin.progress.radial.primary(viewBox="35 29 30 22")
				circle.pp(stroke-dasharray= "39.5 125")
			svg.margin.progress.radial.success(viewBox="35 29 30 22")
				circle.pp(stroke-dasharray= "39.5 125")
			svg.margin.progress.radial.danger(viewBox="35 29 30 22")
				circle.pp(stroke-dasharray= "42.5 125")
			svg.margin.progress.radial.info(viewBox="35 29 30 22")
				circle.pp(stroke-dasharray= "30.5 125")
			//- with track
			svg.margin.progress.radial(viewBox="35 29 30 22")
				circle.pt
				circle.pp(stroke-dasharray= "62.5 125")
			svg.margin.progress.radial.primary(viewBox="35 29 30 22")
				circle.pt
				circle.pp(stroke-dasharray= "39.5 125")
			svg.margin.progress.radial.success(viewBox="35 29 30 22")
				circle.pt
				circle.pp(stroke-dasharray= "39.5 125")
			svg.margin.progress.radial.danger(viewBox="35 29 30 22")
				circle.pt
				circle.pp(stroke-dasharray= "42.5 125")
			svg.margin.progress.radial.info(viewBox="35 29 30 22")
				circle.pt
				circle.pp(stroke-dasharray= "30.5 125")
		//- large - without track
		div
			svg.margin.progress.radial.large(viewBox="35 29 30 22")
				circle.pp(stroke-dasharray= "62.5 125")
			svg.margin.progress.radial.large.primary(viewBox="35 29 30 22")
				circle.pp(stroke-dasharray= "39.5 125")
			svg.margin.progress.radial.large.success(viewBox="35 29 30 22")
				circle.pp(stroke-dasharray= "39.5 125")
			svg.margin.progress.radial.large.danger(viewBox="35 29 30 22")
				circle.pp(stroke-dasharray= "42.5 125")
			svg.margin.progress.radial.large.info(viewBox="35 29 30 22")
				circle.pp(stroke-dasharray= "30.5 125")
		//- large - with track
		div
			svg.margin.progress.radial.large(viewBox="35 29 30 22")
				circle.pt
				circle.pp(stroke-dasharray= "62.5 125")
			svg.margin.progress.radial.large.primary(viewBox="35 29 30 22")
				circle.pt
				circle.pp(stroke-dasharray= "39.5 125")
			svg.margin.progress.radial.large.success(viewBox="35 29 30 22")
				circle.pt
				circle.pp(stroke-dasharray= "39.5 125")
			svg.margin.progress.radial.large.danger(viewBox="35 29 30 22")
				circle.pt
				circle.pp(stroke-dasharray= "42.5 125")
			svg.margin.progress.radial.large.info(viewBox="35 29 30 22")
				circle.pt
				circle.pp(stroke-dasharray= "30.5 125")
		h2 Loading
		div
			p Add class "loading" to svg
			svg.margin.progress.radial.large.info.loading(viewBox="35 29 30 22")
				circle.pt
				circle.pp(stroke-dasharray= "30.5 125")

		h1 Loaders:
		p Use classes "rotate" and "anti-rotate" to make any element rotate
		div
			span.ico.anti-rotate sync
		p.m-top add class "when-loading" to an element, this element will show-up when adding class "loading" to it's parents
		div.loading
			span.when-loading Loading...

		p.m-top add class "ico-loading" to any element to show some loading
		div.ico-loading

		.row
			.col.sm6.md4
				b Text loading
				p Best approche for text loading:
				div.text-loading
					span
					span
					span
					span
					span
					span
					span
					span
					span
					span
			.col.sm6.md4
				b Image loading
				p Best approche for image loading:
				img.loading(width="200px" height="150px")


	br
	br
	br
	br
	br