extends ../_layout
append head
	title Layout
block body
	.container
		h1 Tables:

		.card
			table.table
				thead
					tr
						th Dessert (100g serving)
						th Calories
						th Fat (g)
						th Carbs (g)
						th Protein (g)
				tbody
					tr
						td Frozen yoghurt
						td 237
						td 9
						td 37
						td 4.3
					tr
						td Ice cream sandwich
						td 159
						td 6
						td 24
						td 4
					tr
						td Eclair	
						td 262	
						td 16	
						td 24	
						td 6
					tr
						td Cupcake
						td 305
						td 3.7
						td 67
						td 4.3
					tr
						td Gingerbread
						td 356
						td 16
						td 49
						td 3.9
		h2 striped table:
		.card
			table.table.striped
				thead
					tr
						th Dessert (100g serving)
						th Calories
						th Fat (g)
						th Carbs (g)
						th Protein (g)
				tbody
					tr
						td Frozen yoghurt
						td 237
						td 9
						td 37
						td 4.3
					tr
						td Ice cream sandwich
						td 159
						td 6
						td 24
						td 4
					tr
						td Eclair	
						td 262	
						td 16	
						td 24	
						td 6
					tr
						td Cupcake
						td 305
						td 3.7
						td 67
						td 4.3
					tr
						td Gingerbread
						td 356
						td 16
						td 49
						td 3.9
		h2 Hoverable table:
		.card
			table.table.hover
				thead
					tr
						th Dessert (100g serving)
						th Calories
						th Fat (g)
						th Carbs (g)
						th Protein (g)
				tbody
					tr
						td Frozen yoghurt
						td 237
						td 9
						td 37
						td 4.3
					tr
						td Ice cream sandwich
						td 159
						td 6
						td 24
						td 4
					tr
						td Eclair	
						td 262	
						td 16	
						td 24	
						td 6
					tr
						td Cupcake
						td 305
						td 3.7
						td 67
						td 4.3
					tr
						td Gingerbread
						td 356
						td 16
						td 49
						td 3.9
		h2 table with footer
		.card
			table.table.striped.hover
				thead
					tr
						th Dessert (100g serving)
						th Calories
						th Fat (g)
						th Carbs (g)
						th Protein (g)
				tbody
					tr
						td Frozen yoghurt
						td 237
						td 9
						td 37
						td 4.3
					tr
						td Ice cream sandwich
						td 159
						td 6
						td 24
						td 4
					tr
						td Eclair	
						td 262	
						td 16	
						td 24	
						td 6
				tfoot
					tr
						th.t-right(colspan=5) footer

		br
		br