extends ../_layout
append head
	title Checkbox
block body
	form.container
		h1 Checkbox

		label.block.f-checkbox
			input(type="checkbox")
			span #[svg(viewBox='0 0 12 10') #[polyline(points="1.5 6 4.5 9 10.5 1")]]
			|  
			span.label Check box label
		label.block.f-checkbox.primary #[input(type="checkbox")]#[span #[svg(viewBox='0 0 12 10') #[polyline(points="1.5 6 4.5 9 10.5 1")]]] #[span.label Check box label]
		label.block.f-checkbox.success #[input(type="checkbox")]#[span #[svg(viewBox='0 0 12 10') #[polyline(points="1.5 6 4.5 9 10.5 1")]]] #[span.label Primary Check box label]
		label.block.f-checkbox.info #[input(type="checkbox")]#[span #[svg(viewBox='0 0 12 10') #[polyline(points="1.5 6 4.5 9 10.5 1")]]] #[span.label Success Check box label]
		label.block.f-checkbox.warn #[input(type="checkbox")]#[span #[svg(viewBox='0 0 12 10') #[polyline(points="1.5 6 4.5 9 10.5 1")]]] #[span.label Info Check box label]
		label.block.f-checkbox.danger #[input(type="checkbox")]#[span #[svg(viewBox='0 0 12 10') #[polyline(points="1.5 6 4.5 9 10.5 1")]]] #[span.label Warn Check box label]
		label.block.f-checkbox.disabled #[input(type="checkbox")]#[span #[svg(viewBox='0 0 12 10') #[polyline(points="1.5 6 4.5 9 10.5 1")]]] #[span.label Danger Check box label]

		h2 With hover
		label.block.f-checkbox.hover #[input(type="checkbox")]#[span #[svg(viewBox='0 0 12 10') #[polyline(points="1.5 6 4.5 9 10.5 1")]]] #[span.label Check box label]
		label.block.f-checkbox.hover.primary #[input(type="checkbox")]#[span #[svg(viewBox='0 0 12 10') #[polyline(points="1.5 6 4.5 9 10.5 1")]]] #[span.label Check box label]
		label.block.f-checkbox.hover.success #[input(type="checkbox")]#[span #[svg(viewBox='0 0 12 10') #[polyline(points="1.5 6 4.5 9 10.5 1")]]] #[span.label Primary Check box label]
		label.block.f-checkbox.hover.info #[input(type="checkbox")]#[span #[svg(viewBox='0 0 12 10') #[polyline(points="1.5 6 4.5 9 10.5 1")]]] #[span.label Success Check box label]
		label.block.f-checkbox.hover.warn #[input(type="checkbox")]#[span #[svg(viewBox='0 0 12 10') #[polyline(points="1.5 6 4.5 9 10.5 1")]]] #[span.label Info Check box label]
		label.block.f-checkbox.hover.danger #[input(type="checkbox")]#[span #[svg(viewBox='0 0 12 10') #[polyline(points="1.5 6 4.5 9 10.5 1")]]] #[span.label Warn Check box label]
		label.block.f-checkbox.hover.disabled #[input(type="checkbox")]#[span #[svg(viewBox='0 0 12 10') #[polyline(points="1.5 6 4.5 9 10.5 1")]]] #[span.label Danger Check box label]

