.badge
	font-weight: 300
	font-size: 0.9rem
	border-radius: $form-border-radius
	min-width: 3em
	padding: .3em .6em
	margin: .2em
	background: #e0e0e0

	@each $cl in primary success info warn danger disabled
		&.#{$cl}
			@extend .bg-#{$cl}
