// body, html
*, :after, :before
	-webkit-box-sizing: border-box
	box-sizing: border-box
html, body
	margin: 0
	background: $white
	color: $color-text
	// +size(100%)
	-moz-osx-font-smoothing: grayscale
	-webkit-font-smoothing: antialiased
	// text
	line-height: 1.42857143
	font-family: "Roboto", "Helvetica", "Arial", sans-serif
	font-weight: 400
	font-size: 14px
	@extend %noselect
// font

	// @media screen and (min-width: $xs)
	// 	font-size: 16px

p
	margin: 0
	padding: 0

// repalce <hr> with extra space
hr
	border: none
	margin: 1em 0 0 0


.fit-parent
	width: 100%
	height: auto
.fit-content
	width: fit-content
	height: fit-content
.fit-screen
	width: 100vw
	height: 100vh
.fit-h // fit screen height
	height: 100vh

// direction
.rtl
	direction: rtl
.ltr
	direction: ltr


// pointer
.text
	cursor: text
.hand
	cursor: pointer

// disable all events on an element
.no-events
	pointer-events: none

// margin
%margin-top, .m-top
	margin-top: 1.2rem
%margin-top-tiny, .m-top-tiny
	margin-top: .2rem
%margin-right, .m-right
	margin-right: 1.2rem
%margin-left, .m-left
	margin-left: 1.2rem
%margin-right-tiny, .m-right-tiny
	margin-right: .2rem

%margin, .margin
	margin: 1.2rem

body[dir=rtl]
	.m-right
		margin-right: 0
		@extend %margin-left
	.m-left
		margin-left: 0
		@extend %margin-right


// padding
%padding-large
	padding: 7px 5px
	@media(min-width: $md)
		padding: 2em 1em
%padding
	padding: 1.2em 1em
	@media(min-width: $md)
		padding: 2em .9em
%padding-v
	padding-top: 5px
	padding-bottom: 5px
	@media(min-width: $md)
		padding-top: 10px
		padding-bottom: 10px

%x-v-padding
	padding-top: 55px
	padding-bottom: 40px
	@media(min-width: $md)
		padding-top: 110px
		padding-bottom: 90px

%padding-tiny
	padding: .6em 1.2em

.padding
	@extend %padding;
.padding-v, .v-padding
	@extend %padding-v;
.x-v-padding
	@extend %x-v-padding;
.p-large
	@extend %padding-large;
.p-tiny
	@extend %padding-tiny;

// height bars
.bar
	min-height: 0.3em


// circle
.circle
	border-radius: 50%

// disabled
%disabled, .disabled
	pointer-events: none
	color: $color-disabled
	// background-color: $color-disabled-lighten4
	box-shadow: none