

/**
 * text colors
 * Has format: text-color
 */
@each $n, $v in $colors
	.text-#{$n}
		$i: 1
		@each $cl in $v
			$desc: nth($colorDescription, $i)
			$i: $i + 1
			@if $desc == 'base'
				color: $cl!important
			@else
				&.#{$desc}
					color: $cl!important
// @each $n, $v in $colors-basic
// 	.text-#{$n}
// 		$i: 1
// 		@each $cl in $v
// 			$desc: nth($colorDescription, $i)
// 			$i: $i + 1
// 			@if $desc == 'base'
// 				color: $cl!important
// 			@else
// 				&.#{$desc}
// 					color: $cl!important

/**
 * background color
 * @format .color
 */
@each $n, $v in $colors
	.#{$n}
		$i: 1
		@each $cl in $v
			$desc: nth($colorDescription, $i)
			$i: $i + 1
			@if $desc == 'base'
				color: contrast-switch($cl)!important
				background-color: $cl!important
			@else
				&.#{$desc}
					color: contrast-switch($cl)!important
					background-color: $cl!important
// @each $n, $v in $colors-basic
// 	.bg-#{$n}
// 		$i: 1
// 		@each $cl in $v
// 			$desc: nth($colorDescription, $i)
// 			$i: $i + 1
// 			@if $desc == 'base'
// 				color: contrast-switch($cl)
// 				background-color: $cl
// 			@else
// 				&.#{$desc}
// 					color: contrast-switch($cl)
// 					background-color: $cl