
input, textarea
	@extend %select;
	line-height: 1.125
	font-family: "Roboto", "Helvetica", "Arial", sans-serif
	font-weight: 400
	font-size: .9em


// label
label.f-cntrl, .f-cntrl label
	display: block
	position: relative
	cursor: text
	// icon
	.ico
		position: absolute
		left: .38em
		top: .38em
		&+input, &+textarea
			padding-left: 2.3em
// Ripple effect
%f-cntrl-ripple
	input
		&+span
			&:before
				content: ''
				+size(1em)
				background: $color-default
				display: block
				transform: scale(0)
				border-radius: 50%
				position: absolute
				pointer-events: none
		&:checked+span
			&:before
				transform: scale(3.5)
				opacity: 0
				transition: all .6s ease
	// states
	@each $state, $clr, $bg in (primary, $color-primary, $color-primary-lighten2) (success, $color-success, $color-success-lighten2) (info, $color-info, $color-info-lighten2) (warn, $color-warn, $color-warn-lighten2) (danger, $color-danger, $color-danger-lighten2)
		&.#{$state}
			input
				&+span
					&:before
						background: $bg

.f-cntrl
	input, textarea
		@extend %padding-tiny
		border: 1px solid $color-default-lighten2
		background-color: $color-default-lighten2
		border-radius: $border-radius
		touch-action: manipulation
		// height: 2.573rem
		-webkit-appearance: none
		outline: none
		display: block
		width: 100%
		// border: none
		// bottom: 0
		// background: transparent
		// margin: 0
		&:hover, &:focus
			background-color: $color-default-lighten1
			border-color: $color-default-lighten1
		&::selection
			background-color: $white
			color: $black
		&:disabled
			background-color: $color-disabled-lighten6!important
			border-color: $color-disabled-lighten4!important
			color: $color-disabled!important
			cursor: not-allowed!important
			// pointer-events: none
			&::placeholder
				color: $color-disabled
		// icon
		&~.ico
			left: auto
			right: .38em
	// progress
	.progress
		margin-top: -.2em
		border-radius: 0 0 $border-radius $border-radius
		overflow: hidden
		z-index: 2
		.pc
			background: transparent

	// states
	@each $state, $cl, $lightColor, $darkColor in (has-done $color-success $color-success-lighten4 $color-success-dark4), (has-info $color-info $color-info-lighten4 $color-info-dark4), (has-warn $color-warn $color-warn-lighten4 $color-warn-dark4), (has-error $color-danger $color-danger-lighten4 $color-danger-dark4)
		&.#{$state}
			color: $cl
			input, textarea
				color: $cl
				background-color: $lightColor
				border-color: $lightColor
				&::placeholder
					color: $cl
			.desc
				color: $cl
// label
label.f-cntrl
	@extend %margin-top-tiny
// radio checkbox commons
%f-radio-checkbox
	cursor: pointer
	input
		display: none
		&+span
			@extend %margin-right-tiny
			box-sizing: content-box
			display: inline-block
			vertical-align: middle
			+size(1em)
			position: relative
		&:checked+span
			animation: round-wave .4s ease
	@each $state, $clr, $bg in (primary, $color-primary, $color-primary-lighten2) (success, $color-success, $color-success-lighten2) (info, $color-info, $color-info-lighten2) (warn, $color-warn, $color-warn-lighten2) (danger, $color-danger, $color-danger-lighten2)
		&.#{$state}
			input
				&:checked~*
					color: $clr
			// hover
			&.hover:hover
				color: $clr

// checkbox
.f-checkbox
	@extend %f-cntrl-ripple
	@extend %f-radio-checkbox
	input
		&+span
			svg
				+size(1em)
				cursor: pointer
				border-radius: $border-radius
				border: 1px solid $color-default
				padding: 2px
				pointer-events: none

				fill: none
				stroke: $white
				stroke-width: 2
				stroke-linecap: round
				stroke-linejoin: round
				stroke-dasharray: 16px
				stroke-dashoffset: 16px
				transition: stroke-dashoffset .3s .1s ease
				// transition-delay: .1s
				// transition: stroke-dashoffset 350ms cubic-bezier(1,0,.37,.91)
		&:checked+span
			svg
				stroke-dashoffset: 0
				background: currentColor
				border-color: currentColor
		&.hover:hover
			input+span svg
				background: currentColor
				border-color: currentColor

	// states
	// @each $state, $clr, $bg in (primary, $color-primary, $color-primary-lighten2) (success, $color-success, $color-success-lighten2) (info, $color-info, $color-info-lighten2) (warn, $color-warn, $color-warn-lighten2) (danger, $color-danger, $color-danger-lighten2)
	// 	&.#{$state}
	// 		input
	// 			&:checked+span
	// 				svg
	// 					background: $bg
	// 					border-color: $bg
			// hover
			// &.hover:hover
			// 	input+span svg
			// 		border-color: $bg
	// &:hover
	// 	.label
	// 		color: $color-default-darken2
// Radio
.f-radio
	@extend %f-cntrl-ripple
	@extend %f-radio-checkbox
	input
		&+span
			border: 2px solid $color-default-lighten2
			border-radius: 50%
			// &:after
			// 	content: ''
			// 	+size(1em)
			// 	display: block
			// 	border-radius: 50%
			// 	border: 4px solid transparent

		&:checked+span
			background: currentColor
			border-color: currentColor
// switch
.f-switch
	@extend %f-cntrl-ripple
	@extend %f-radio-checkbox
	input
		&+span
			width: 2em
			height: 1em
			background: $color-default-lighten2
			border: 2px solid $color-default-lighten2
			border-radius: 2em
			&:after
				content: ''
				+size(1em)
				border-radius: 2em
				background: $white
				display: inline-block
				transition: all $animate-fast ease
			// ripple effect
			&:before
				right: 0
		&:checked+span
			background-color: currentColor
			border-color: currentColor
			&:after
				margin-left: 2em
				transform: translateX(-100%)
	&:active
		input+span
			&:after
				width: 1.25em
	// states
	@each $state, $clr, $bg in (primary, $color-primary, $color-primary-lighten2) (success, $color-success, $color-success-lighten2) (info, $color-info, $color-info-lighten2) (warn, $color-warn, $color-warn-lighten2) (danger, $color-danger, $color-danger-lighten2)
		&.#{$state}
			// hover
			&.hover:hover
				input+span
					background: $bg
					border-color: $bg



// key frames
@keyframes round-wave
	50%
		transform: scale(.9)
