
// label
label.f-cntrl, .f-cntrl label
	display: block
	position: relative
	cursor: text

.f-cntrl
	@extend %margin-top-tiny
	input
		@extend %padding-tiny
		border: 1px solid $color-default-lighten2
		background-color: $color-default-lighten2
		border-radius: $border-radius
		touch-action: manipulation
		// height: 2.573rem
		-webkit-appearance: none
		outline: none
		display: block
		width: 100%
		// border: none
		// bottom: 0
		// background: transparent
		// margin: 0
		&:hover, &:focus
			background-color: $color-default-lighten1
			border-color: $color-default-lighten1
		&::selection
			background-color: $white
			color: $black
		&:disabled
			background-color: $color-disabled-lighten6!important
			border-color: $color-disabled-lighten4!important
			color: $color-disabled!important
			cursor: not-allowed!important
			// pointer-events: none
			&::placeholder
				color: $color-disabled
		// icon
		&+.ico
			left: auto
			right: .38em
	// icon
	.ico
		position: absolute
		left: .38em
		top: .38em
		&+input
			padding-left: 2.3em
	// Labels
	// .label
	// description
	.desc
		margin-top: -.2em