
%ico
	font-family: 'Material Icons'
	font-weight: normal
	font-style: normal
	line-height: 1
	letter-spacing: normal
	text-transform: none
	-webkit-font-feature-settings: 'liga'
	font-feature-settings: 'liga'
	-webkit-font-smoothing: antialiased
	direction: ltr
	white-space: nowrap
	word-wrap: normal
	font-size: 1.2em
	display: inline-block
	
.ico
	@extend %ico;
	vertical-align: middle

[data-icon]
	&:before
		@extend %ico;
		content: attr(data-icon)
		margin-right: .2em
		vertical-align: text-bottom

		.rtl &
			margin-right: auto
			margin-left: .2em
