.list
	@extend %margin-top;
	>li, >a
		@extend %padding;
		text-decoration: none
		padding-left: 10px
		// horizontal rule
		&.hr
			padding-top: 1em
	&.striped
		>li, >a
			&:nth-child(odd)
				background-color: $grey-light2
	&.hover
		>li, >a
			&:hover
				cursor: pointer
				background-color: $grey-light
ul.list:not([type])
	>li, >a
		@extend %padding;
		padding-left: 0
		list-style-type: none
ol.list
	// padding-left: 2em
	background-color: $grey-light2
	>li, >a
		// padding-left: 0.2em
		background-color: $white
		border-left: 2px $grey solid
	&.striped
		>li, >a
			&:nth-child(odd)
				border-left-color: $grey-dark



// horizontal list
.h-list
	>li, >a
		text-decoration: none
		display: inline-block