
// liniaire progress
.progress
	// progress container
	.pc
		background-color: $color-default-lighten4
	// progress bar
	.pb
		padding: 0.1em
		background-color: $color-default

	@each $el, $colr, $lightcolr in (primary $color-primary $color-primary-lighten4), (info $color-info $color-info-lighten4), (warn $color-warn $color-warn-lighten4), (danger $color-danger $color-danger-lighten4)
		&.#{$el}
			.label
				color: rgba($colr, 0.84)
			.pc
				background-color: $lightcolr
			.pb
				background-color: $colr

	// loading
	&.loading
		.pc
			overflow: hidden
		.pb
			width: 20%!important
			max-width: 20%!important
			animation: cui-progress-loading 1s cubic-bezier(0.24, 0.41, 0.57, 0.9) infinite, cui-ltr-progress-loading 1s cubic-bezier(.445,.05,.55,.95) infinite

	// right to left
	&.rtl, .rtl &
		.pb
			animation: cui-progress-loading 1s cubic-bezier(0.24, 0.41, 0.57, 0.9) infinite, cui-rtl-progress-loading 1s cubic-bezier(.445,.05,.55,.95) infinite


	// circular progress
	@at-root svg.progress
		+size(36px)
		overflow: hidden
		// size
		&.large
			+size(128px)
		// circles
		circle
			stroke: $color-default
			stroke-width: 2px
			stroke-miterlimit: 20px
			stroke-linecap: round
			transform: rotate(-90deg)
			transform-origin: 50px 50px
			fill: none
			r: 20px
			cx: 50px
			cy: 50px
		circle.pt
			stroke: $color-default-lighten4
		@each $el, $colr, $clrLight in (primary $color-primary $color-primary-lighten4), (info $color-info $color-info-lighten4), (warn $color-warn $color-warn-lighten4), (danger $color-danger $color-danger-lighten4)
			&.#{$el}
				circle.pp
					stroke: $colr
				circle.pt
					stroke: $clrLight
		// &.disabled
		
		// Loading
		&.loading
			circle.pp
				animation: cui-progress-crcl-dash 1.5s ease-in-out infinite //, cui-progress-crcl-rotate 2s linear infinite

		// radial
		&.radial
			height: 13px
			circle
				transform: rotate(180deg)
			// size
			&.large
				height: 64px

// liniaire progress animation
@keyframes cui-ltr-progress-loading
	from
		margin-left: 0
	to
		margin-left: 100%
@keyframes cui-rtl-progress-loading
	from
		margin-right: 0
	to
		margin-right: 100%
@keyframes cui-progress-loading
	0%
		width: 0
		max-width: 0
	50%
		width: 50%
		max-width: 50%
	100%
		width: 0
		max-width: 0
// svg circulat animation
@keyframes cui-progress-crcl-dash
	0%
		stroke-dasharray: 1,200
		stroke-dashoffset: 0
	50%
		stroke-dasharray: 89,200
		stroke-dashoffset: -35
	100%
		stroke-dasharray: 89,200
		stroke-dashoffset: -124
@keyframes cui-progress-crcl-rotate
	100%
		transform: rotate(360deg)