extends ../_layout
append head
	title Alerts
block body
	.container
		h1 Router
		.alert.info manage local page router

		pre.
			# call a function when the route matches a regex
			Router.on
				path String or /regex/
				toggleClass: 'cssClass' # toggle this class from HTML. @optional
				in: (info)->	 		# call this when this route match, @optional
				out: (info)->			# call this when quit this route, @optional

			#- info contains
			info=
				isRoot: true when real page path
				isBack: true when pulled from history (click on back)

				referrer: back url

				srcElement: clicked element 

		hr

		h2 redirect the page to a URL (without recharging page, push it to history)
		pre.
			Router.goto '/new/path'
			Router.goto
				path: '/new/path'
				srcElement: htmlElement
				# ...